<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.dao.lUDownMessageRecordDao.ILUDownMessageRecordDao">
	<sql id="c_lu_down_message_record">
		_lu_down_message_record.id, _lu_down_message_record.upload_record_id uploadRecordId,
		_lu_down_message_record.trade_no tradeNo, _lu_down_message_record.create_time createTime,
		_lu_down_message_record.down_message downMessage, _lu_down_message_record.asset_id assetId
	</sql>
	<sql id="t_lu_down_message_record">
		lu_down_message_record
	</sql>
	<!--<select id="getList" resultType="com.iot.otaBean.lUDownMessageRecord.LUDownMessageRecord" >-->
		<!--select <include refid="c_lu_down_message_record"/>-->
		<!--from <include refid="t_lu_down_message_record"/> _lu_down_message_record-->
	<!--</select>-->
	<insert id="insert" parameterType="com.iot.otaBean.lUDownMessageRecord.LUDownMessageRecord"
			keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="t_lu_down_message_record"/>
		(upload_record_id, trade_no, create_time, down_message, asset_id)
		values(#{uploadRecordId}, #{tradeNo}, #{createTime}, #{downMessage}, #{assetId})
	</insert>
</mapper>    
    
  